language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache/files

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

env:
  - TEST_COMMAND="composer test-all"

matrix:
    fast_finish: true
    include:
        - php: 5.5
          env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest" COVERAGE=true

install:
    - travis_retry composer update ${COMPOSER_FLAGS} --prefer-source --no-interaction

before_script:
  - if [[ "COVERAGE" = true ]]; then TEST_COMMAND="composer test-coverage"; fi

script:
  - echo $TEST_COMMAND
  - $TEST_COMMAND

after_success:
    - if [[ "$COVERAGE" = true ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
    - if [[ "$COVERAGE" = true ]]; then php ocular.phar code-coverage:upload --format=php-clover build/coverage.xml; fi


notifications:
  slack:
    rooms:
      secure: Xa/LYWGRDOt1Gjw10YTgYmVriSt/MSDOuzqoqQ8OWekJp05C2oRTor8dztEATTM4HQSLrwTa8CTnkFyD8+Z4fbnuvQ0dJ4j5CJYs5AjyirEWwblqS0PIATEEGKffDocsMh4VyMEPSwWXZY319bvG79mUq0E57VmT3y2ROMUuuec=
