name: Tests

on:
    push: ~
    pull_request: ~

jobs:
    php:
        strategy:
            matrix:
                php-versions: ['7.3', '7.4', '8.0', '8.1', '8.2', '8.3']

        runs-on: 'Ubuntu-20.04'

        steps:

            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}
                    tools: none

            -   name: Install dependencies
                run: composer install --prefer-dist --no-progress --no-suggest

            -   name: PHP Unit Tests
                run: vendor/bin/phpunit

    lowest:
        name: Lowest deps
        runs-on: ubuntu-20.04
        steps:
            -   name: Set up PHP
                uses: shivammathur/setup-php@2.9.0
                with:
                    php-version: 7.3
                    coverage: pcov

            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Download dependencies
                run: composer update --no-interaction --prefer-dist --optimize-autoloader --prefer-stable --prefer-lowest

            -   name: Run tests
                run: vendor/bin/phpunit
